.column {
    height: auto;
    padding: 8px 20px;
    width: 200px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600 !important;
    background-color: #F9F9F9;
    border: 3px solid rgb(206, 198, 198);
    padding: 10px;
}